@charset "UTF-8";
@font-face {
  font-family: 'AMavickRegular';
  src: url("../fonts/AMavickRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'BuxtonSketchRegular';
  src: url("../fonts/BuxtonSketchRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'IntroRegular';
  src: url("../fonts/IntroRegular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.slick-slide, input, textarea,
a, a:focus, a:active {
  outline: none;
}

address {
  font-style: normal;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure, p {
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

body {
  font-family: "AMavickRegular", cursive;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  color: #02386e;
  overflow-x: hidden;
}

.rocket {
  position: absolute;
  opacity: 0.8;
  will-change: transform;
}

.rocket-1 {
  top: 240px;
  right: -130px;
}

.rocket-2 {
  top: 236px;
  left: -170px;
}

.rocket-3 {
  top: 466px;
  left: 585px;
}

.rocket-4 {
  top: 410px;
  left: 150px;
}

.cloud {
  position: absolute;
}

.intro-clouds .cloud {
  transition: transform 0.6s ease;
  will-change: transform;
}

.cloud-1 {
  top: 350px;
  right: -175px;
  width: 110px;
}

.cloud-2 {
  top: 630px;
  right: 280px;
  width: 200px;
}

.cloud-3 {
  top: 650px;
  right: 90px;
  width: 205px;
}

.cloud-4 {
  top: 405px;
  left: -95px;
  width: 80px;
}

.cloud-5 {
  top: 445px;
  left: -170px;
  width: 75px;
}

.cloud-6 {
  top: 840px;
  left: -135px;
  width: 153px;
}

.cloud-7 {
  top: 935px;
  left: -295px;
  width: 205px;
}

.cloud-8 {
  top: 1140px;
  right: -70px;
  width: 102px;
}

.cloud-9 {
  top: 1192px;
  right: 4px;
  width: 152px;
}

.cloud-10 {
  top: 1287px;
  right: -77px;
  width: 130px;
}

header[role=banner] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105px;
  z-index: 3;
}

header[role=banner] .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.header-menu li {
  display: inline-block;
  padding: 0 5px;
  font-size: 22px;
  line-height: 1;
  letter-spacing: calc(22px * 50 / 1000);
}

.header-menu li:first-child {
  padding-left: 0;
}

.header-menu li:last-child {
  padding-right: 0;
}

.header-menu li:nth-child(5) a {
  color: #ff6c00;
}

.header-menu a {
  display: block;
  padding: 2px 8px;
  border-radius: 15px;
  color: #02386e;
  background: transparent;
  transition: background 0.4s ease, color 0.4s ease;
}

.header-menu a:hover {
  background-color: #fff;
}

.header-menu-burger {
  display: none;
  width: 32px;
  cursor: pointer;
}

.header-menu-burger span {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #02386e;
}

.header-menu-burger span:not(:last-child) {
  margin-bottom: 5px;
}

.header-callback {
  text-align: center;
}

.header-callback-phone, .header-callback-btn {
  display: block;
}

.header-callback-phone {
  padding-left: 41px;
  font-size: 30px;
  line-height: 31px;
  letter-spacing: calc(30px * 50 / 1000);
  color: #ff6c00;
  background: url("../img/icon-phone-blue.png") no-repeat left center;
}

.header-callback-btn {
  margin-top: 8px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 16px;
  line-height: 1;
  letter-spacing: calc(16px * 50 / 1000);
  color: #02386e;
}

header[role=banner].fixed {
  position: fixed;
  height: 80px;
  background: #14caf0;
}

header[role=banner].fixed .header-menu li:nth-child(5) a,
header[role=banner].fixed .header-callback-phone, header[role=banner].fixed .header-callback-btn {
  color: #fff;
}

header[role=banner].fixed .header-menu li:nth-child(5) a:hover {
  color: #ff6c00;
}

.block-intro {
  position: relative;
  min-height: 1730px;
  padding: 0;
  text-align: center;
  background: url("../img/bg-intro.png") no-repeat center top;
  z-index: 2;
}

.block-intro .container {
  padding-top: 105px;
}

.block-intro-b {
  min-height: 1480px;
  background-image: url("../img/bg-intro-b.png");
}

.intro-title {
  max-width: 791px;
  height: 165px;
  margin: 0 auto;
  padding-top: 55px;
  font-size: 60px;
  line-height: 48px;
  color: #fff;
  background: url("../img/bg-intro-title.png") no-repeat center top;
}

.intro-subtitle {
  max-width: 370px;
  height: 87px;
  margin: -43.5px auto 0;
  font-size: 36px;
  line-height: 87px;
  color: #ff6c00;
  background: url("../img/bg-intro-subtitle.png") no-repeat center top;
}

.intro-subtitle-b {
  max-width: 478px;
  font-size: 30px;
  background-image: url("../img/bg-intro-subtitle-b.png");
}

.intro-description {
  margin: 20px 0 25px;
  font-size: 36px;
  line-height: 1;
}

.intro-description span {
  padding: 2px 10px;
  color: #fff;
  background: #fb9b18;
  border-radius: 20px;
}

.intro-description small {
  display: block;
  margin-top: 10px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 30px;
  line-height: 1;
}

.intro-description-b {
  margin-bottom: 5px;
}

.intro-cloud-text {
  position: relative;
  width: 602px;
  height: 282px;
  margin-left: -20px;
  padding: 95px 85px 90px 90px;
  background: url("../img/cloud-lightblue.png") no-repeat center center;
}

.intro-cloud-text span {
  display: block;
  font-weight: bold;
}

.intro-cloud-text span:nth-child(1) {
  font-size: 30.2px;
  line-height: 25.9px;
}

.intro-cloud-text span:nth-child(2) {
  font-size: 25.9px;
  line-height: 27.6px;
  letter-spacing: 2.9785px;
}

.intro-cloud-text span:nth-child(3) {
  font-size: 31.9px;
  line-height: 29px;
}

.intro-cloud-text-b {
  position: relative;
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
}

.intro-cloud-text-b small {
  display: block;
  margin-top: 5px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-weight: normal;
  font-size: 27px;
  line-height: 1;
}

.intro-cloud-text-b:after {
  content: '';
  position: absolute;
  bottom: -53px;
  left: 183px;
  width: 68px;
  height: 113px;
  background: url("../img/arrow-intro-3-b.png") no-repeat center bottom;
  z-index: 1;
}

.intro-cloud-text2-b {
  position: relative;
  width: 498px;
  height: 238px;
  margin-left: 85px;
  margin-top: 5px;
  padding: 65px 0 0;
  font-size: 27px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: calc(27px * 40 / 1000);
  background-size: 100% 100%;
}

.intro-cloud-text2-b strong {
  display: inline-block;
  padding: 2px 10px;
  font-size: 34px;
  letter-spacing: calc(34px * 80 / 1000);
  color: #fff;
  background: #fb9b18;
  border-radius: 25px;
}

.intro-cloud-text2-b:after {
  content: '';
  position: absolute;
  bottom: -22px;
  right: 14px;
  width: 42px;
  height: 90px;
  background: url("../img/arrow-intro-4-b.png") no-repeat right bottom;
}

.intro-rocket-childs {
  position: absolute;
  right: -105px;
  top: 435px;
  z-index: 1;
}

.intro-rocket-childs-b {
  top: 480px;
}

.intro-cta-video {
  position: relative;
  max-width: 380px;
  margin: 15px 0 0 90px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 24px;
}

.intro-cta-video span {
  display: block;
  text-transform: uppercase;
}

.intro-cta-video:after {
  content: '';
  position: absolute;
  left: 100px;
  bottom: -118px;
  width: 111px;
  height: 106px;
  background: url("../img/arrow-intro-1.png") no-repeat center;
}

.intro-video {
  position: relative;
  width: 510px;
  margin: 55px auto 0;
}

.intro-video:after {
  content: '';
  position: absolute;
  right: -40px;
  bottom: -30px;
  width: 43px;
  height: 103px;
  background: url("../img/arrow-intro-2.png") no-repeat center;
}

.intro-video-inner {
  display: block;
  position: relative;
  width: 510px;
  height: 295px;
  overflow: hidden;
  cursor: pointer;
}

.intro-video-gradient,
.intro-video-frame,
.intro-video-btn {
  position: absolute;
}

.intro-video-gradient {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#26d0ce, #1a2980);
  opacity: 0.8;
}

.intro-video:hover .intro-video-gradient {
  background: linear-gradient(#1a2980, #26d0ce);
}

.intro-video:hover .intro-video-btn {
  opacity: 0.7;
}

.intro-video-frame {
  top: 0;
  left: 0;
}

.intro-video-btn {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

.intro-cta {
  margin-top: 55px;
}

.intro-cta-title {
  font-weight: normal;
  font-size: 40px;
  line-height: 1;
  color: #fff;
}

.intro-cta-subtitle {
  font-size: 24px;
}

.intro-cta-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 0 40px;
  font-size: 24px;
  text-align: center;
  line-height: 65px;
  color: #fff;
  background: #ff6c00;
  border: 7px solid #a8e0f6;
  border-radius: 40px;
  transition: background 0.3s ease;
}

.intro-cta-btn:hover {
  background: #ff4000;
}

.intro-cta-tooltip {
  display: block;
  margin-top: 7px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 22px;
  color: #fff;
}

.intro-cta-tooltip span {
  color: #02386e;
}

.intro-form-b-title {
  margin-top: 27px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 18px;
  line-height: 1;
  letter-spacing: calc(18px * 50 / 1000);
}

.modal-form.intro-form-b {
  margin-top: 10px;
}

.modal-form.intro-form-b .modal-labels-wrap {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 45px;
}

.modal-form.intro-form-b .modal-label {
  background: transparent;
  border: 1px dashed transparent;
}

.modal-form.intro-form-b .modal-label.active {
  background: rgba(255, 255, 255, 0.5);
  border-color: #14caf0;
}

.modal-form.intro-form-b .modal-label:first-child.active {
  position: relative;
  z-index: 1;
}

.modal-form.intro-form-b input[type=text],
.modal-form.intro-form-b input[type=tel] {
  background: none;
}

.modal-form.intro-form-b input[type=submit] {
  height: 64px;
  font-size: 24px;
  border: 7px solid rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
}

.modal-form.intro-form-b input[type=submit]:hover {
  background-clip: padding-box;
}

.cloud-b {
  -ms-transform: translate(70px, -100px);
  transform: translate(70px, -100px);
  opacity: 0.2;
}

.cloud-b.cloud-10 {
  display: none;
}

.cloud-blue {
  will-change: transform;
}

.cloud-blue-1 {
  bottom: -305px;
  left: -70px;
}

.cloud-blue-2 {
  bottom: -250px;
  left: 420px;
}

.cloud-blue-3 {
  bottom: -170px;
  right: 200px;
}

.cloud-blue-4 {
  bottom: -450px;
  left: 153px;
}

.cloud-blue-5 {
  bottom: -415px;
  left: 600px;
}

.block-advantages {
  position: relative;
  min-height: 2500px;
  margin-top: -290px;
  padding-top: 470px;
  text-align: center;
  background: url("../img/bg-advantages.jpg") no-repeat center top;
  z-index: 1;
}

.block-advantages-b {
  min-height: 1545px;
  background: url("../img/bg-advantages-b.png") no-repeat center bottom;
}

.advantages-title {
  position: relative;
  padding-bottom: 85px;
  font-size: 40px;
}

.advantages-title span {
  color: #ff4000;
}

.advantages-title:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 269px;
  height: 70px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("../img/decor-title.png") no-repeat center;
}

.advantages-list-top,
.advantages-list-bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.advantages-list-top-b {
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  margin-top: 25px;
}

.advantages-list-top-b .advantage-single {
  margin-bottom: 45px;
}

.advantage-single {
  width: 270px;
}

.advantage-single-icon,
.advantage-single-title {
  display: block;
}

.advantage-single-icon {
  margin: 0 auto;
}

.advantage-single-title {
  margin: 10px 0 5px;
  font-weight: normal;
  font-size: 30px;
}

.advantage-single-desc {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  min-height: 130px;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 9px 0;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 30px;
  line-height: 28px;
  letter-spacing: calc(22px * 50 / 1000);
  background: url("../img/bg-advantage-desc.png") no-repeat top left;
  background-size: 100% 100%;
}

.advantage-single-desc a {
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 100%;
  color: #14caf0;
}

.advantages-list-bottom {
  margin-top: 20px;
}

.advantages-list-bottom .advantage-single {
  margin-top: 35px;
}

.advantages-list-bottom-castle {
  margin-top: 5px;
}

.advantages-more {
  width: calc(100% + 70px);
  margin: -75px -35px 0;
  padding: 97px 35px 55px;
  color: #fff;
  background: url("../img/bg-advantages-more.png") no-repeat center top;
  background-size: 100% 100%;
}

.advantages-more-title {
  font-weight: normal;
  font-size: 52px;
  line-height: 1;
  letter-spacing: calc(52px * 100 / 1000);
}

.advantages-more-title span {
  display: block;
  font-size: 40px;
  letter-spacing: calc(40px * 100 / 1000);
}

.advantages-more-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 30px;
}

.advantage-more-single {
  width: 370px;
}

.advantage-more-single-icon {
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 140px;
  margin: 0 auto;
  background: #ff6c00;
  border-radius: 35px;
}

.advantage-more-single-icon img {
  margin: auto;
}

.advantage-more-single-title {
  display: block;
  margin: 15px 0 10px;
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
}

.advantage-more-single-desc {
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: calc(24px * 94 / 1000);
}

.block-advantages3 {
  min-height: 850px;
  margin-top: -30px;
  padding: 95px 0 0;
  text-align: center;
  color: #ff6c00;
  background: url("../img/bg-advantages-more-b.png") no-repeat center top;
}

.advantages3-title {
  padding-top: 25px;
  font-size: 55px;
}

.advantages3-subtitle {
  max-width: 458px;
  height: 68px;
  margin-top: -34px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 32px;
  line-height: 68px;
  letter-spacing: calc(32px * 50 / 1000);
  background-image: url("../img/bg-advantages3-subtitle-b.png");
}

.advantages3-list {
  padding-top: 60px;
}

.advantages3-list .advantage-more-single-icon {
  background: #ff4000;
}

.advantages3-list .advantage-more-single-title {
  color: #ff4000;
}

.block-sale {
  position: relative;
  min-height: 1444px;
  padding: 85px 0 0;
  text-align: center;
  color: #ff4000;
  background: url("../img/bg-sale.jpg") no-repeat center top;
}

.sale-title {
  position: relative;
  font-size: 60px;
  line-height: 1;
  padding-bottom: 80px;
}

.sale-title:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 269px;
  height: 70px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("../img/decor-title-red.png") no-repeat center;
}

.sale-content {
  width: 720px;
  margin: 80px auto 0;
  padding: 50px 40px 0;
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
}

.sale-content-title {
  font-size: 60px;
  letter-spacing: calc(60px * 75 / 1000);
}

.sale-content-title strong, .sale-content-title span, .sale-content-title small {
  display: block;
}

.sale-content-title span {
  font-size: 36px;
  letter-spacing: 0;
}

.sale-content-title strong {
  margin-top: 8px;
  padding: 0 30px;
  font-weight: normal;
  font-size: 72px;
  letter-spacing: 0;
  background: #fff;
  border-radius: 40px;
}

.sale-content-title small {
  margin-top: 8px;
  font-size: 24px;
  letter-spacing: calc(24px * 30 / 1000);
}

form input[type=text],
form input[type=email],
form input[type=tel],
form textarea {
  display: block;
  width: 430px;
  height: 50px;
  margin: 0 auto 12px;
  padding-left: 85px;
  padding-right: 15px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: calc(30px * 50 / 1000);
  color: #ff4000;
  background: #fff;
  border: none;
  border-radius: 25px;
}

form input[type=text]::-webkit-input-placeholder,
form input[type=email]::-webkit-input-placeholder,
form input[type=tel]::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  color: #ff4000;
  opacity: 1;
}

form input[type=text]::-moz-placeholder,
form input[type=email]::-moz-placeholder,
form input[type=tel]::-moz-placeholder,
form textarea::-moz-placeholder {
  color: #ff4000;
  opacity: 1;
}

form input[type=text]:-ms-input-placeholder,
form input[type=email]:-ms-input-placeholder,
form input[type=tel]:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  color: #ff4000;
  opacity: 1;
}

form input[type=text] {
  background: url("../img/icon-input-contact.png") no-repeat left 22px center #fff;
}

form input[type=tel] {
  background: url("../img/icon-input-phone.png") no-repeat left 22px center #fff;
}

form input[type=submit],
form button[type=submit] {
  position: relative;
  display: block;
  width: 430px;
  height: 75px;
  margin: 26px auto 0;
  font-family: "AMavickRegular", cursive;
  font-size: 36px;
  line-height: 75px;
  letter-spacing: calc(36px * 55 / 1000);
  color: #fff;
  background: #ff4000;
  border: none;
  border-radius: 35px;
  transition: background 0.3s ease;
}

form input[type=submit]:hover,
form button[type=submit]:hover {
  background: #ff6c00;
}

form input[type=submit]:before, form input[type=submit]:after,
form button[type=submit]:before,
form button[type=submit]:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 80px;
  height: 3px;
  border: 1px solid #ff4000;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

form input[type=submit]:before,
form button[type=submit]:before {
  left: -100px;
}

form input[type=submit]:after,
form button[type=submit]:after {
  right: -100px;
}

.sale-content-form {
  margin-top: 35px;
}

.sale-counter {
  position: absolute;
  bottom: 126px;
  left: 0;
  width: 100%;
  text-align: center;
}

.sale-counter-title {
  font-size: 36px;
  line-height: 1;
  letter-spacing: calc(36px * 120 / 1000);
}

.sale-counter-title span {
  display: block;
  font-size: 30px;
  letter-spacing: calc(30px * 40 / 1000);
}

.sale-counter-clock {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  width: 580px;
  margin: 30px auto 35px;
}

.sale-counter-clock-part, .sale-counter-clock-part-bg, .sale-counter-clock-part-content {
  width: 111px;
  height: 111px;
}

.sale-counter-clock-part {
  position: relative;
}

.sale-counter-clock-part-bg {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #fff;
  border-radius: 50%;
}

.sale-counter-clock-part-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "IntroRegular", sans-serif;
  color: #616262;
  background: url("../img/bg-counter-part.png") no-repeat center;
  border-radius: 50%;
}

.sale-counter-clock-part-content-num {
  margin-top: -10px;
  font-size: 30px;
  line-height: 1;
  letter-spacing: calc(30px * 40 / 1000);
}

.sale-counter-clock-part-content-desc {
  font-size: 11px;
  line-height: 1;
}

.sale-counter-decor-1,
.sale-counter-decor-2 {
  display: block;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  background: #ff4000;
  border-radius: 10px;
}

.sale-counter-decor-1 {
  width: 350px;
  opacity: 0.5;
}

.sale-counter-decor-2 {
  width: 190px;
  margin-top: 15px;
  opacity: 0.2;
}

.block-director {
  position: relative;
  min-height: 1415px;
  margin-top: -43px;
  padding: 155px 0 0;
  text-align: center;
  background: url("../img/bg-director.png") no-repeat center top;
  z-index: 2;
}

.block-director .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.director-title {
  position: relative;
  padding-bottom: 85px;
  font-size: 48px;
  line-height: 1;
}

.director-title span {
  color: #ff4000;
}

.director-title:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 269px;
  height: 70px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("../img/decor-title.png") no-repeat center;
}

.director-content {
  position: relative;
  width: 1050px;
  height: 680px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: -3px;
  background: url("../img/director-frame.png") no-repeat center top;
}

.director-content-photo {
  position: absolute;
  top: 155px;
  left: -135px;
  width: 270px;
  height: 270px;
  background: #14caf0;
  border-radius: 50%;
}

.director-content-photo img {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  -ms-transform: translate(15px, 7px);
  transform: translate(15px, 7px);
}

.director-content-about {
  padding-top: 90px;
  padding-left: 180px;
  padding-right: 75px;
  text-align: left;
}

.director-content-about-name {
  font-size: 30px;
  line-height: 1;
  color: #ff4000;
}

.director-content-about-post {
  font-size: 22px;
  line-height: 30px;
}

.director-content-about-speech {
  margin-top: 25px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 27px;
  line-height: 32px;
}

.director-content-about-speech blockquote {
  margin: 0;
}

.director-content-signature {
  display: block;
  margin-left: auto;
  margin-right: 110px;
}

.director-content-btn {
  display: inline-block;
  position: absolute;
  bottom: 6px;
  left: 250px;
  height: 62px;
  padding: 0 30px;
  font-size: 30px;
  line-height: 62px;
  color: #fff;
  background: #ff4000;
  border-radius: 30px;
  transition: background 0.3s ease;
}

.director-content-btn:hover {
  background: #ff6c00;
}

.portfolio-rocket-1 {
  top: 610px;
  right: -85px;
  opacity: 1;
}

.portfolio-rocket-2 {
  top: 653px;
  left: 110px;
  opacity: 0.5;
}

.portfolio-rocket-3 {
  top: 173px;
  right: 70px;
  opacity: 0.5;
  z-index: 1;
}

.portfolio-rocket-4 {
  top: -15px;
  left: 113px;
  opacity: 1;
}

.block-portfolio {
  position: relative;
  min-height: 1116px;
  margin-top: -270px;
  padding-top: 270px;
  text-align: center;
  background: url("../img/bg-portfolio.png") no-repeat center top;
  z-index: 2;
}

.portfolio-title {
  padding-top: 32px;
  font-size: 60px;
}

.portfolio-title span {
  display: block;
  font-size: 40px;
}

.portfolio-subtitle {
  position: relative;
  max-width: 671px;
  height: 68px;
  margin-top: -30px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 30px;
  line-height: 68px;
  background-image: url("../img/bg-portfolio-subtitle.png");
}

.portfolio-subtitle:after {
  content: '';
  position: absolute;
  left: -65px;
  bottom: -87px;
  width: 51px;
  height: 131px;
  background: url("../img/portfolio-arrow-1.png") no-repeat center;
}

.portfolio-slider {
  margin-top: 70px;
}

.portfolio-slide-single {
  position: relative;
}

.portfolio-slide-single-photos {
  position: absolute;
  left: 0;
  top: 50%;
  margin: -147.5px 0 0;
}

.portfolio-slide-single-photos:after {
  content: none;
}

.portfolio-slide-single-photos-slider {
  height: 295px;
}

.portfolio-slide-single-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 800px;
  height: 340px;
  margin-left: auto;
  padding-left: 200px;
  padding-right: 50px;
  text-align: left;
  color: #fff;
  background: url("../img/bg-event.png") no-repeat center;
  background-size: 100% 100%;
}

.portfolio-slide-single-info-title {
  font-size: 24px;
}

.portfolio-slide-single-info-subtitle {
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 20px;
  letter-spacing: calc(20px * 25 / 1000);
}

.portfolio-slide-single-info-text {
  margin-top: 3px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: calc(18px * 25 / 1000);
}

.photos-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../img/portfolio-arrow-photo-prev.png") no-repeat center center;
  transition: opacity 0.3s ease;
  cursor: pointer;
  z-index: 1;
}

.photos-arrow:hover {
  opacity: 0.7;
}

.photos-arrow-prev {
  left: 0;
}

.photos-arrow-next {
  right: -10px;
  -ms-transform: translateY(-50%) scale(-1, 1);
  transform: translateY(-50%) scale(-1, 1);
}

.portfolio-arrow-prev.portfolio-arrow-prev,
.portfolio-arrow-next.portfolio-arrow-next {
  bottom: -78px;
}

.portfolio-arrow-prev.portfolio-arrow-prev:before {
  font-size: 16px;
  content: 'Предыдущее мероприятие';
}

.portfolio-arrow-next.portfolio-arrow-next:after {
  font-size: 16px;
  content: 'Следующее мероприятие';
  -ms-transform: translateX(-55px) scale(-1, 1);
  transform: translateX(-55px) scale(-1, 1);
}

.block-about {
  position: relative;
  margin-top: -102px;
  text-align: center;
  z-index: 2;
}

.about-title {
  max-width: 791px;
  height: 102px;
  margin: 0 auto;
  padding-top: 25px;
  font-size: 60px;
  line-height: 1;
  color: #14caf0;
  background: url("../img/bg-about-title.png") no-repeat center;
}

.about-slider {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.about-slider-blind-left,
.about-slider-blind-right {
  position: absolute;
  top: 0;
  width: calc((100vw - 932px) / 2);
  height: 100%;
  z-index: 1;
}

.about-slider-blind-left {
  left: 0;
  background: url("../img/bg-about-left.png") no-repeat center top;
  background-size: 100% 100%;
}

.about-slider-blind-right {
  right: 0;
  background: url("../img/bg-about-right.png") no-repeat center top;
  background-size: 100% 100%;
}

.about-slide-single {
  overflow: hidden;
}

.about-slide-single img {
  width: 970px;
  height: auto;
  max-width: none;
  margin: 0 auto;
}

.about-slide-single.slick-center {
  width: 970px !important;
}

.about-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  background: url("../img/about-arrow-prev.png") no-repeat center;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.about-arrow:hover {
  opacity: 0.7;
}

.about-arrow-prev {
  -ms-transform: translate(-545px, -50%);
  transform: translate(-545px, -50%);
}

.about-arrow-next {
  -ms-transform: translate(485px, -50%) scale(-1, 1);
  transform: translate(485px, -50%) scale(-1, 1);
}

.block-clients {
  min-height: 1160px;
  padding: 80px 0 10px;
  text-align: center;
  background: url("../img/bg-clients.jpg") no-repeat center top;
}

.block-clients-b {
  position: relative;
  min-height: 1081px;
  color: #fff;
  background-image: url("../img/bg-clients-b.png");
  z-index: 1;
}

.clients-title {
  position: relative;
  font-size: 45px;
  line-height: 38px;
}

.clients-title span {
  color: #ff4000;
}

.clients-title:after, .clients-title:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -120px;
  width: 79px;
  height: 96px;
  background: url("../img/clients-arrow.png") no-repeat center;
}

.clients-title:before {
  -ms-transform: translateX(-217px);
  transform: translateX(-217px);
}

.clients-title:after {
  -ms-transform: translate(138px, -2px) scale(-1, 1);
  transform: translate(138px, -2px) scale(-1, 1);
}

.clients-title-b {
  line-height: normal;
}

.clients-title-b span {
  padding: 0 10px;
  color: #fff;
  background: #ff6c00;
  border-radius: 25px;
}

.clients-title-b:after, .clients-title-b:before {
  background-image: url("../img/clients-arrow-b.png");
}

.clients-photos-slider {
  width: 182px;
  height: 182px;
  margin: 25px auto 0;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
}

.clients-photos-slider img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.clients-slider {
  width: 962px;
  height: 553px;
  margin: -10px auto 0;
  padding: 120px 95px 150px;
  background: url("../img/clients-frame.png") no-repeat center;
}

.clients-slider-b {
  background-image: url("../img/clients-frame-b.png");
}

.clients-slider-b .clients-slide-single-name {
  display: inline-block;
  padding: 4px 10px;
  background: #ff6c00;
  border: 1px dashed #fff;
  border-radius: 25px;
}

.clients-slider-b .clients-arrow {
  background-image: url("../img/portfolio-arrow-prev-b.png");
}

.clients-slide-single-name {
  font-size: 27px;
  line-height: 1;
}

.clients-slide-single-text {
  margin-top: 15px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 22px;
}

.clients-arrow {
  position: absolute;
  left: 50%;
  bottom: -48px;
  width: 41px;
  height: 41px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 16px;
  background: url("../img/portfolio-arrow-prev.png") no-repeat center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.clients-arrow:hover {
  opacity: 0.7;
}

.clients-arrow:before, .clients-arrow:after {
  position: absolute;
  line-height: 41px;
  white-space: nowrap;
}

.clients-arrow-prev {
  -ms-transform: translateX(-56px);
  transform: translateX(-56px);
}

.clients-arrow-prev:before {
  content: 'Предыдущий отзыв';
  left: -10px;
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.clients-arrow-next {
  -ms-transform: translateX(15px) scale(-1, 1);
  transform: translateX(15px) scale(-1, 1);
}

.clients-arrow-next:after {
  content: 'Следующий отзыв';
  right: 0;
  -ms-transform: translateX(-50px) scale(-1, 1);
  transform: translateX(-50px) scale(-1, 1);
}

.block-sale2 {
  position: relative;
  min-height: 1003px;
  margin-top: -80px;
  padding: 150px 0 0;
  text-align: center;
  color: #fff;
  background: url("../img/bg-sale2.png") no-repeat center top;
  z-index: 2;
}

.sale2-title {
  position: relative;
  padding-bottom: 85px;
  font-size: 48px;
}

.sale2-title:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 269px;
  height: 70px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("../img/decor-title-white.png") no-repeat center;
}

.sale2-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: -25px;
}

.sale2-content-cta {
  width: 550px;
}

.sale2-content-cta-img {
  margin-left: -10px;
}

.sale2-content-cta-title {
  position: relative;
  max-width: 538px;
  height: 107px;
  margin-top: -107px;
  margin-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 28.9px;
  line-height: 26px;
  color: #ff4000;
  background: url("../img/bg-sale2-cta.png") no-repeat center center;
}

.sale2-content-cta-title small {
  display: block;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  color: #ff6c00;
}

.sale2-content-text {
  width: 570px;
  padding-top: 10px;
}

.sale2-content-text-offer {
  font-size: 33px;
  letter-spacing: calc(33px * 40 / 1000);
}

.sale2-content-text-offer strong {
  display: block;
  width: 570px;
  height: 118px;
  padding-top: 20px;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0;
  color: #14caf0;
  background: url("../img/bg-sale2-offer.png") no-repeat center;
}

.sale2-content-text-offer span {
  display: block;
  font-weight: bold;
  font-size: 50px;
}

.sale2-content-text-terms {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
}

.sale2-content-text-terms li {
  padding-top: 25px;
  font-size: 24px;
}

.sale2-content-text-terms li:after {
  content: '';
  display: block;
  width: 200px;
  height: 1px;
  margin: 25px auto 0;
  border-bottom: 1px dashed #fff;
}

.sale2-content-text-terms li:last-child:after {
  content: none;
}

.sale2-content-text-terms span {
  padding: 0 10px;
  color: #ff4000;
  background: #fff;
  border-radius: 15px;
}

.sale2-content-text-terms small {
  display: block;
  margin-top: 7px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 24px;
  line-height: 1;
  letter-spacing: calc(24px * 80 / 1000);
}

.sale2-btn {
  position: relative;
  height: 72px;
  margin-top: 35px;
  line-height: 58px;
}

.sale2-btn:after, .sale2-btn:before {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 123px;
  height: 96px;
  background: url("../img/sale2-arrow.png") no-repeat center;
}

.sale2-btn:before {
  left: -150px;
}

.sale2-btn:after {
  right: -150px;
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.block-team {
  min-height: 1852px;
  margin-top: -40px;
  padding: 95px 0 0;
  text-align: center;
  background: url("../img/bg-team.jpg") no-repeat center top;
}

.team-title {
  position: relative;
  padding-bottom: 80px;
  font-size: 45px;
}

.team-title span {
  display: block;
  color: #ff6c00;
}

.team-title:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 269px;
  height: 70px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("../img/decor-title-orange.png") no-repeat center;
}

.team-slider {
  margin-top: 25px;
}

.team-slide-single {
  width: 370px;
  padding: 0 15px;
}

.team-slide-single-photo {
  position: relative;
  width: 256px;
  height: 256px;
  margin: 0 auto;
  border-radius: 50%;
}

.team-slide-single-photo img {
  display: block;
  width: 100%;
  height: 100%;
  border: 6px solid #fff;
  border-radius: 50%;
}

.team-slide-single-photo:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 221px;
  height: 217px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../img/bg-team-photo.png") no-repeat center;
}

.team-slide-single-info {
  width: 100%;
  height: 203px;
  margin-top: -55px;
  padding-top: 60px;
  background: url("../img/bg-team-info.png") no-repeat center;
  background-size: 100% 100%;
}

.team-slide-single-info-name {
  margin: 0 0 7.5px;
  font-size: 28px;
}

.team-slide-single-info-line {
  margin: 5px 0;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 30px;
  line-height: 24px;
  color: #14caf0;
}

.team-slide-single-info-btn {
  display: inline-block;
  margin: 7.5px 0 0;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 20px;
  line-height: 1;
  letter-spacing: calc(20px * 25 / 1000);
  color: #02386e;
  border-bottom: 1px dashed #02386e;
  transition: border 0.3s ease;
}

.team-slide-single-info-btn:hover {
  border-color: transparent;
}

.team-arrow {
  bottom: -90px;
}

.team-arrow:before, .team-arrow:after {
  font-size: 20px;
  letter-spacing: 4px;
}

.team-arrow-prev:before {
  content: 'Назад';
}

.team-arrow-next:after {
  content: 'Далее';
  -ms-transform: translateX(-55px) scale(-1, 1);
  transform: translateX(-55px) scale(-1, 1);
}

.team-files {
  margin-top: 120px;
  color: #fff;
}

.team-files-title {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 523px;
  height: 523px;
  margin: 0 auto;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 48px;
  background: url("../img/bg-files-title.png") no-repeat center;
}

.team-files-title small, .team-files-title strong {
  display: block;
}

.team-files-title span, .team-files-title small, .team-files-title strong {
  position: relative;
  z-index: 1;
}

.team-files-title small {
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 22px;
  letter-spacing: calc(22px * 200 / 1000);
}

.team-files-title strong {
  font-weight: normal;
  font-size: 30px;
  letter-spacing: calc(30px * 75 / 1000);
}

.team-files-title:after {
  content: '';
  position: absolute;
  top: 105px;
  left: 50%;
  width: 983px;
  height: 170px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("../img/decor-files-lines.png") no-repeat center;
}

.team-files-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team-files-row-top {
  width: 846px;
  margin: -180px auto 0;
}

.team-files-row-bottom {
  margin-top: 10px;
}

.team-file-single {
  position: relative;
  width: 191px;
  height: 191px;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  overflow: hidden;
}

.team-file-single-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #fff;
  background: rgba(255, 108, 0, 0.8);
  cursor: pointer;
  z-index: 1;
}

.team-file-single-info-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.team-file-single-info-title, .team-file-single-info-subtitle {
  font-family: "BuxtonSketchRegular", sans-serif;
  letter-spacing: calc(22px * 75 / 1000);
}

.team-file-single-info-title {
  font-weight: normal;
  font-size: 24px;
}

.team-file-single-info-subtitle {
  font-size: 20px;
}

.team-file-single-img {
  position: absolute;
  top: 0;
  left: -40px;
  right: 0;
  bottom: 0;
  margin: auto;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.team-file-single:hover .team-file-single-info {
  opacity: 1;
}

.block-advantages2 {
  position: relative;
  min-height: 733px;
  margin-top: -70px;
  text-align: center;
  background: url("../img/bg-advantages2.png") no-repeat center top;
}

.advantages2-title {
  position: relative;
  width: 791px;
  height: 126px;
  margin: 0 auto;
  padding: 20px 0 0;
  font-size: 48px;
  color: #ff6c00;
  background: url("../img/bg-advantages2-title.png") no-repeat center;
}

.advantages2-title:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -58px;
  width: 269px;
  height: 70px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("../img/decor-title-white.png") no-repeat center;
}

.advantages2-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 105px;
}

.advantages2-single {
  width: 270px;
}

.advantages2-single-number {
  display: block;
  height: 270px;
  font-size: 133px;
  line-height: 270px;
  font-weight: bold;
  color: #ff6c00;
  text-stroke: 7px #fff;
  -webkit-text-stroke: 7px #fff;
  background: url("../img/decor-advantages2-number.png") no-repeat center;
}

.advantages2-single-desc {
  margin-top: 10px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .advantages2-single-number {
    -webkit-text-stroke: 1px #fff;
  }
}

.block-faq {
  margin-top: -45px;
  padding: 110px 0 195px;
  text-align: center;
  background: url("../img/bg-faq.jpg") no-repeat center top;
  background-size: cover;
}

.faq-title {
  position: relative;
  padding-bottom: 70px;
  font-size: 40px;
}

.faq-title span {
  display: block;
  color: #ff6c00;
}

.faq-title:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 269px;
  height: 70px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("../img/decor-title-orange.png") no-repeat center;
}

.faq-subtitle {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: -40px;
  padding-left: 130px;
  padding-right: 40px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 30px;
  color: #ff6c00;
}

.faq-list {
  margin-top: 45px;
}

.faq-single {
  margin-top: 20px;
  padding: 15px 70px;
  font-family: "BuxtonSketchRegular", sans-serif;
  background: #fff;
  border-radius: 40px;
  cursor: pointer;
}

.faq-single-question {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.faq-single-question-text {
  font-size: 26px;
}

.faq-single-question-switcher {
  position: relative;
  padding-left: 27px;
  font-size: 16px;
  letter-spacing: calc(16px * 50 / 1000);
}

.faq-single-question-switcher:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 11px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../img/faq-arrow.png") no-repeat center;
}

.faq-single-answer {
  display: none;
  max-width: 800px;
  margin-top: 20px;
  padding-left: 30px;
  font-size: 20px;
  line-height: 22px;
  text-align: left;
}

.faq-single-answer span {
  font-size: 24px;
  color: #ff6c00;
}

.faq-single-answer a {
  color: #ff6c00;
}

.faq-single.opened .faq-single-question-switcher:before {
  -ms-transform: translateY(-50%) scale(1, -1);
  transform: translateY(-50%) scale(1, -1);
}

.faq-btn {
  position: relative;
  display: block;
  width: 350px;
  height: 50px;
  margin: 65px auto 0;
  font-family: "AMavickRegular", cursive;
  font-size: 27px;
  line-height: 50px;
  color: #fff;
  background: #ff6c00;
  border: none;
  border-radius: 35px;
  transition: background 0.3s ease;
}

.faq-btn:before, .faq-btn:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 80px;
  height: 3px;
  border: 1px solid #ff4000;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: border 0.3s ease;
}

.faq-btn:before {
  left: -100px;
}

.faq-btn:after {
  right: -100px;
}

.faq-btn:hover {
  background: #ff4000;
}

.faq-btn:hover:before, .faq-btn:hover:after {
  border-color: #ff4000;
}

.baloon {
  position: absolute;
}

.baloon-1 {
  top: -105px;
  left: -140px;
}

.baloon-2 {
  top: 75px;
  right: -70px;
}

.block-prices {
  min-height: 1110px;
  margin-top: -85px;
  padding: 65px 0 0;
  text-align: center;
  background: url("../img/bg-prices.png") no-repeat center top;
}

.prices-title {
  max-width: 791px;
  height: 147px;
  margin: 0 auto;
  padding-top: 25px;
  font-size: 48px;
  color: #fff;
  background: url("../img/bg-prices-title.png") no-repeat center;
}

.prices-title span {
  display: block;
  font-size: 36px;
}

.prices-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: calc(100% + 20px);
  margin: 70px -10px 0;
}

.price-single {
  width: 385px;
  height: 610px;
  padding: 14px 10px 0;
  background: #f6f1d1;
}

.price-single-sum {
  display: block;
  height: 128px;
  padding-top: 25px;
  font-weight: normal;
  font-size: 60px;
  color: #ff6c00;
  background: #fff;
  border: 2px solid #f2eed6;
}

.price-single-sum:after {
  content: '₽';
  margin-left: 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
}

.price-single-title {
  position: relative;
  max-width: 304px;
  height: 74px;
  margin: -30px auto 0;
  line-height: 74px;
  font-size: 30px;
  background: #fff;
  border: 2px solid #f6f1d1;
  border-radius: 22px;
}

.price-single-info {
  margin-top: -30px;
  padding: 0 18px;
}

.price-single-info-inner {
  padding: 45px 0 0;
  background: #fff;
  border: 2px solid #f2eed6;
}

.price-single-info-list {
  margin: 0;
  padding: 0 0 55px;
  list-style: none;
  text-align: left;
}

.price-single-info-list li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 16px;
  padding-left: 30px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 24px;
}

.price-single-info-list li:last-child {
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 0;
}

.price-single-info-list small {
  display: block;
  font-size: 20px;
  line-height: 1;
}

.price-single-info-highlight .price-single-info-list {
  padding-bottom: 0;
}

.price-single-info-highlight li:last-child {
  margin-top: -10px;
  padding-top: 10px;
  padding-bottom: 55px;
  color: #fff;
  background: #ff6c00;
}

.price-single-info-highlight .price-single-info-btn {
  height: 52px;
  max-width: 274px;
  margin-top: -29.5px;
  line-height: 42px;
  border-top: 7px solid #ff5a00;
  box-shadow: none;
}

.price-single-info-icon {
  width: 36px;
  height: 34px;
}

.price-single-info-desc {
  padding-left: 20px;
}

.price-single-info-btn {
  display: block;
  max-width: 260px;
  height: 45px;
  margin: -22.5px auto 0;
  font-size: 24px;
  line-height: 45px;
  color: #fff;
  background: #ff6c00;
  border-radius: 25px;
  box-shadow: 7px 0 0 rgba(255, 255, 255, 0.7), -7px 0 0 rgba(255, 255, 255, 0.7), 0 7px 0 rgba(255, 255, 255, 0.7), 0 -7px 0 rgba(255, 255, 255, 0.7);
  transition: background 0.3s ease;
}

.price-single-info-btn:hover {
  background: #ff4000;
}

.price-single-individual {
  height: 475px;
}

.price-single-individual .price-single-title {
  padding-top: 12px;
  font-size: 24px;
  line-height: normal;
}

.price-single-individual .price-single-info-inner {
  padding: 60px 0 40px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 24px;
}

.price-single-individual .price-single-info-inner p {
  margin-bottom: 20px;
}

.price-single-individual .price-single-info-icon {
  margin: 0 10px;
}

.block-contacts {
  min-height: 833px;
  margin-top: -82px;
  padding: 150px 0 0;
  background: url("../img/bg-contacts.png") no-repeat center top;
}

.block-contacts .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contacts-left {
  width: 505px;
}

.contacts-title {
  position: relative;
  max-width: 504px;
  height: 118px;
  padding-top: 17px;
  padding-right: 70px;
  font-size: 40px;
  font-weight: bold;
  color: #ff4000;
  text-align: center;
  background: url("../img/bg-contacts-title-2.png") no-repeat center;
}

.contacts-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc((100vw - 1170px) / 2);
  height: 100%;
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  background: url("../img/bg-contacts-title-1.png") repeat-x left center;
}

.contacts-title:after {
  content: '';
  position: absolute;
  top: 60px;
  right: -141px;
  width: 127px;
  height: 79px;
  background: url("../img/contacts-arrow-1.png") no-repeat center;
}

.contacts-list {
  width: 234px;
  height: 150px;
  margin-top: -5px;
  margin-right: 5px;
  margin-left: auto;
  padding: 5px 0 0 35px;
  text-align: left;
  background: url("../img/bg-contacts-cloud.png") no-repeat center;
}

.contacts-list a {
  display: inline-block;
  color: #ff4000;
}

.contacts-phone {
  margin-top: 5px;
  padding-left: 35px;
  font-size: 24px;
  background: url("../img/icon-phone.png") no-repeat left center;
}

.contacts-email {
  margin-top: 5px;
  padding-left: 35px;
  font-size: 20px;
  background: url("../img/icon-email.png") no-repeat left 2px center;
}

.contacts-text {
  display: block;
  margin-left: 95px;
  margin-top: -40px;
  font-size: 24px;
  letter-spacing: calc(24px * 40 / 1000);
  color: #fff;
}

.contacts-callback {
  max-width: 275px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: -18px;
  text-align: center;
  color: #fff;
}

.contacts-callback-text {
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 22px;
  line-height: 24px;
}

.contacts-callback-btn {
  position: relative;
  display: block;
  height: 59px;
  margin: 15px auto 0;
  font-size: 20px;
  line-height: 45px;
  color: #fff;
  background: #ff4000;
  border: 7px solid #BDE7EF;
  border-radius: 32px;
  transition: background 0.3s ease;
}

.contacts-callback-btn:hover {
  background: #ff6c00;
}

.contacts-callback-btn:after {
  content: '';
  position: absolute;
  bottom: -110px;
  right: -41px;
  width: 80px;
  height: 71px;
  background: url("../img/contacts-arrow-2.png") no-repeat center;
}

.contacts-map {
  width: 535px;
  margin-right: 10px;
  padding-top: 15px;
  text-align: center;
}

.contacts-map-title {
  font-size: 33px;
  color: #fff;
  letter-spacing: calc(33px * 40 / 1000);
}

.contacts-map-container {
  position: relative;
  width: 527px;
  height: 527px;
  margin-top: 12px;
  border: 13px solid #BDE7EF;
  border-radius: 50%;
}

.contacts-map-container img {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.contacts-map-container-title {
  position: absolute;
  bottom: -5px;
  left: -10px;
  width: 538px;
  height: 107px;
  padding-top: 12px;
  font-size: 30px;
  font-weight: bold;
  color: #ff4000;
  background: url("../img/bg-sale2-cta.png") no-repeat center;
  z-index: 1;
}

.contacts-addresses {
  max-width: 348px;
  margin-top: 35px;
  margin-left: 40px;
  text-align: center;
  color: #fff;
}

.contacts-addresses-title {
  font-size: 24px;
  line-height: 1;
}

.contacts-addresses-title small {
  display: block;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 20px;
  letter-spacing: calc(20px * 50 / 1000);
}

.contacts-addresses-content {
  margin-top: 10px;
  white-space: nowrap;
}

.contacts-addresses-content span, .contacts-addresses-content img {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}

.contacts-addresses-content span {
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 24px;
  line-height: 1;
  letter-spacing: calc(24px * 50 / 1000);
}

.contacts-addresses-content img {
  margin: 0 10px;
}

.contacts-addresses-social {
  margin-top: 20px;
}

.contacts-addresses-social a {
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
  transition: opacity 0.3s ease;
}

.contacts-addresses-social a:hover {
  opacity: 0.75;
}

.ymaps-b-zoom_hints-pos_right {
  top: 158px !important;
  left: 25px !important;
}

.ymaps-map {
  border-radius: 50%;
}

.form-modal.mfp-bg {
  background: url("../img/bg-popup.png") no-repeat center top 50px #fff;
  border: 1px dashed #14caf0;
  opacity: 1;
}

.form-modal.white-bg {
  background: #fff;
}

.form-modal.no-bg {
  background: transparent;
}

.modal {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.modal-close {
  position: fixed;
  top: 5vh;
  right: 10vh;
  width: 45px;
  height: 70px;
  background: url("../img/icon-close.png") no-repeat center top;
  text-align: center;
  cursor: pointer;
}

.modal-close:after {
  content: 'Закрыть окно';
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 22px;
  letter-spacing: calc(22px * 50 / 1000);
  line-height: 1;
  white-space: nowrap;
  color: #ff6c00;
}

.modal-close:hover {
  background-image: url("../img/icon-close-hover.png");
  background-size: 45px 45px;
}

.modal-close:hover:after {
  content: 'А если подумать?';
}

.modal-title {
  font-weight: normal;
  font-size: 40px;
  letter-spacing: calc(40px * 50 / 1000);
}

.modal-subtitle {
  margin-top: 2px;
  font-size: 33px;
}

.modal-subtitle span {
  color: #ff6c00;
}

.modal-subtitle small {
  display: block;
  margin-top: 15px;
  font-size: 30px;
}

.modal-subtitle strong {
  display: block;
  font-weight: normal;
  font-size: 60px;
  color: #ff6c00;
}

.modal-form {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 55px;
}

.modal-form input[type=text],
.modal-form input[type=tel] {
  display: inline-block;
  width: 100%;
  max-width: 260px;
  height: auto;
  margin: 0;
  padding: 0 5px 2px;
  font-size: 24px;
  line-height: normal;
  letter-spacing: calc(22px * 50 / 1000);
  border: none;
  color: #02386e;
  background: #fff;
  border-bottom: 1px solid #02386e;
  border-radius: 0;
}

.modal-form input[type=text]::-webkit-input-placeholder,
.modal-form input[type=tel]::-webkit-input-placeholder {
  color: #02386e;
}

.modal-form input[type=text]::-moz-placeholder,
.modal-form input[type=tel]::-moz-placeholder {
  color: #02386e;
}

.modal-form input[type=text]:-ms-input-placeholder,
.modal-form input[type=tel]:-ms-input-placeholder {
  color: #02386e;
}

.modal-form input[type=submit] {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 225px;
  height: 50px;
  margin-top: 0;
  margin-left: -70px;
  font-size: 27px;
  line-height: normal;
  letter-spacing: calc(27px * 50 / 1000);
  background: #ff6c00;
}

.modal-form input[type=submit]:hover {
  background: #ff4000;
}

.modal-label {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 430px;
  height: 85px;
  padding-left: 30px;
  background: #fff;
  border: 1px dashed #14caf0;
  border-radius: 45px;
}

.modal-label:nth-of-type(2) {
  margin-left: -100px;
}

.thanks-modal .modal-close, .thanks-modal .modal-close:hover, .menu-modal .modal-close, .menu-modal .modal-close:hover {
  background: none;
}

.thanks-modal .modal-close, .menu-modal .modal-close {
  height: 22px;
}

.thanks-modal .modal-close:hover:after, .menu-modal .modal-close:hover:after {
  content: 'Закрыть окно';
}

.menu-modal {
  background: #fff;
}

.menu-modal img {
  display: block;
  max-width: 100%;
  margin: 25px auto 0;
}

.thanks-modal-addresses {
  margin-top: 12.5px;
  font-size: 40px;
  line-height: 1;
  letter-spacing: calc(40px * 50 / 1000);
  color: #ff6c00;
}

.thanks-modal-addresses small {
  display: block;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 30px;
  letter-spacing: 0;
  color: #02386e;
}

.thanks-modal-close {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 225px;
  height: 50px;
  margin: 35px auto 0;
  font-size: 27px;
  line-height: 1;
  letter-spacing: calc(27px * 50 / 1000);
  color: #fff;
  background: #ff6c00;
  border-radius: 30px;
  transition: background 0.4s ease;
  cursor: pointer;
}

.thanks-modal-close:hover {
  background: #ff4000;
}

.thanks-sale-modal .thanks-modal-close {
  width: 300px;
  height: 55px;
  font-size: 48px;
  letter-spacing: calc(48px * 50 / 1000);
}

.thanks-modal-coupon {
  margin-top: 15px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 33px;
}

.thanks-modal-coupon strong {
  display: block;
  font-family: "AMavickRegular", cursive;
  font-weight: normal;
  font-size: 36px;
  color: #ff6c00;
}

.thanks-modal-phone {
  display: block;
  margin-top: 30px;
  margin-bottom: -30px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 30px;
  line-height: 1;
}

.team-modal {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 773px;
  height: 773px;
  padding: 100px 90px;
  background: url("../img/bg-team-popup.png") no-repeat center;
}

.modal-team-close {
  position: absolute;
  top: 65px;
  left: 50%;
  width: 49px;
  height: 67px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("../img/icon-close-team.png") no-repeat center top;
  cursor: pointer;
}

.modal-team-close:after {
  content: 'Закрыть';
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 18px;
  line-height: 1;
  letter-spacing: calc(18px * 50 / 1000);
  color: #ff6c00;
}

.modal-team-title {
  font-weight: normal;
  font-size: 30px;
}

.modal-team-text {
  margin-top: 10px;
  font-family: "BuxtonSketchRegular", sans-serif;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: calc(22px * 50 / 1000);
  color: #14caf0;
}

.files-modal {
  text-align: center;
  width: 948px;
  height: 948px;
  padding: 220px 90px;
  background: url("../img/bg-files-popup.png") no-repeat center;
}

.modal-files-slider {
  width: 370px;
  margin: 0 auto;
}

.modal-files-slider .slick-track {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.files-arrow {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../img/files-arrow-prev.png") no-repeat center;
  transition: opacity 0.3s ease;
  z-index: 2;
  cursor: pointer;
}

.files-arrow:hover {
  opacity: 0.7;
}

.files-arrow-prev {
  left: -200px;
}

.files-arrow-next {
  right: -200px;
  -ms-transform: translateY(-50%) scale(-1, 1);
  transform: translateY(-50%) scale(-1, 1);
}

.sale-content-form .wpcf7-form-control-wrap {
  position: relative;
  display: inline-block;
}

.wpcf7[role=form] > div:first-of-type,
.sale-content-form .wpcf7-response-output,
.wpcf7-mail-sent-ok {
  display: none !important;
}

.modal-form .wpcf7-response-output {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  padding: 0 12px;
  text-align: center;
}

.wpcf7-validation-errors,
.wpcf7-not-valid-tip {
  color: tomato;
}

.wpcf7-not-valid-tip {
  position: absolute;
  font-size: 12px;
  bottom: 5px;
}

.modal-form .wpcf7-not-valid-tip {
  left: 35px;
}

.sale-content-form .wpcf7-not-valid-tip {
  left: 85px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 980px;
  }
  .header-menu li {
    padding: 0 2.5px;
    font-size: 20px;
    letter-spacing: 0;
  }
  .header-menu a {
    padding: 2px 5px;
  }
  .intro-description {
    font-size: 34px;
  }
  .intro-description br,
  .advantage-single-desc br,
  .advantage-more-single-desc br,
  .clients-slide-single-text br,
  .clients-title-b br {
    display: none;
  }
  .intro-cloud-text {
    margin-left: 0;
  }
  .intro-rocket-childs {
    margin-right: -100px;
  }
  .intro-cta-video {
    margin-left: 0;
  }
  .advantage-single {
    width: 240px;
    padding: 0 10px;
  }
  .advantages-more {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 80px 15px 45px;
    background-size: 100% 100%;
  }
  .advantage-more-single-desc {
    padding: 0 10px;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0;
  }
  .director-content {
    width: 100%;
    height: auto;
    margin-right: 0;
    background-size: 100% auto;
  }
  .director-content-photo,
  .director-content-photo img {
    width: 200px;
    height: 200px;
  }
  .director-content-photo {
    top: 0;
    left: 0;
  }
  .director-content-about {
    padding-left: 250px;
    padding-right: 50px;
  }
  .director-content-about-speech {
    margin-left: -50px;
  }
  .director-content-signature {
    margin-right: 50px;
  }
  .director-content-btn {
    position: static;
  }
  .portfolio-subtitle:after {
    bottom: -65px;
  }
  .portfolio-slide-single-photos,
  .portfolio-slide-single-photos .intro-video-inner {
    width: 450px;
    height: 260px;
  }
  .portfolio-slide-single-info {
    width: 570px;
    height: 370px;
    padding-left: 60px;
    padding-right: 20px;
  }
  .about-slide-single.slick-center {
    width: auto !important;
  }
  .about-slider-blind-left, .about-slider-blind-right {
    display: none;
  }
  .about-arrow-prev {
    left: 10px;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .about-arrow-next {
    left: inherit;
    right: 10px;
    -ms-transform: translate(0, -50%) scale(-1, 1);
    transform: translate(0, -50%) scale(-1, 1);
  }
  .sale2-content-cta {
    width: 450px;
  }
  .sale2-content-cta img {
    width: 100%;
  }
  .block-team {
    min-height: 0;
    padding-bottom: 170px;
  }
  .sale2-title {
    padding-bottom: 65px;
    font-size: 46px;
  }
  .sale2-content {
    margin-top: 0;
  }
  .sale2-content-cta-title {
    background-size: 100% 100%;
  }
  .sale2-content-cta-img {
    margin-left: 0;
  }
  .team-files-title:after {
    width: 980px;
  }
  .team-files-row-top {
    width: 675px;
  }
  .team-files-row-bottom {
    padding: 0 35px;
  }
  .team-file-single {
    width: 160px;
    height: 160px;
  }
  .team-file-single-info-title {
    font-size: 20px;
  }
  .faq-subtitle {
    padding-left: 40px;
    padding-right: 0;
  }
  .faq-subtitle span:last-child {
    padding-left: 45px;
  }
  .prices-list {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .price-single {
    height: 650px;
    margin: 0 5px;
  }
  .price-single-individual {
    height: 520px;
  }
  .price-single-info {
    padding: 0;
  }
  .price-single-info-list li {
    margin-bottom: 15px;
    padding-left: 15px;
  }
  .block-contacts {
    min-height: 0;
    padding-bottom: 50px;
  }
  .contacts-title {
    padding-top: 20px;
    padding-right: 25px;
    font-size: 38px;
    background-size: 100% 100%;
  }
  .contacts-title:before {
    width: calc((100vw - 980px) / 2);
  }
  .contacts-title:after {
    content: none;
  }
  .contacts-text {
    margin-left: 0;
  }
  .contacts-callback {
    margin-right: 50px;
  }
  .contacts-map {
    width: 500px;
    margin-left: auto;
    margin-right: 0;
  }
  .contacts-map-container {
    width: 500px;
    height: 500px;
  }
  .contacts-map-container-title {
    width: 100%;
    left: 0;
    background-size: 100% 100%;
  }
  .contacts-addresses {
    margin-left: 0;
  }
  .intro-rockets,
  .portfolio-rockets {
    display: none;
  }
}

@media screen and (max-width: 1020px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .block {
    min-height: 0;
  }
  header[role=banner], header[role=banner].fixed {
    padding: 12.5px;
    height: auto;
    min-height: 80px;
  }
  header[role=banner] .container, header[role=banner].fixed .container {
    -ms-flex-flow: wrap-reverse;
    flex-flow: wrap-reverse;
  }
  header[role=banner]:not(.fixed) {
    transition: background 0.4s ease;
  }
  header[role=banner]:not(.fixed).opened {
    background: rgba(255, 255, 255, 0.75);
  }
  .header-menu-burger {
    display: block;
  }
  .header-menu-burger span {
    transition: all 0.3s ease;
  }
  header[role=banner].opened .header-menu-burger span:nth-child(2) {
    display: none;
  }
  header[role=banner].opened .header-menu-burger span:first-child {
    -ms-transform: rotate(45deg) translate(0, 7px);
    transform: rotate(45deg) translate(0, 7px);
  }
  header[role=banner].opened .header-menu-burger span:last-child {
    -ms-transform: rotate(-45deg) translate(0, -7px);
    transform: rotate(-45deg) translate(0, -7px);
  }
  .header-menu {
    display: none;
    width: 100%;
    margin: 15px 0 0;
    padding: 0;
    will-change: height, padding;
  }
  .header-menu li {
    display: block;
    margin: 5px 0;
    padding: 0;
  }
  .header-menu a {
    padding: 2px 0;
  }
  .header-menu a:hover {
    background: none;
  }
  .block-intro,
  .block-portfolio {
    background: url("../img/bg-intro-mobile.jpg") no-repeat center top;
    background-size: cover;
  }
  .block-intro {
    padding: 0 0 50px;
  }
  .intro-title {
    height: auto;
    padding: 15px 0 25px;
    background: #ff6c00;
    border-radius: 30px;
  }
  .intro-subtitle {
    height: auto;
    margin-top: -20px;
    line-height: 40px;
    background: #fff;
    border-radius: 25px;
  }
  .intro-description {
    font-size: 22px;
    line-height: 26px;
  }
  .intro-cloud-text {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    background: none;
    background-size: contain;
  }
  .intro-cloud-text.intro-cloud-text span {
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: normal;
  }
  .intro-cloud-text-b:after, .intro-cloud-text2-b:after {
    content: none;
  }
  .intro-cloud-text2-b strong {
    font-size: 27px;
  }
  .intro-cta-video {
    margin-top: 25px;
  }
  .intro-cta-video:after {
    content: none;
  }
  .intro-video {
    max-width: 510px;
    width: auto;
    margin-top: 10px;
  }
  .intro-video:after {
    content: none;
  }
  .intro-video-inner {
    max-width: 510px;
    width: auto;
    height: auto;
  }
  .intro-video-gradient,
  .intro-video-player {
    border-radius: 20px;
  }
  .intro-video-player {
    display: block;
    width: 100%;
    height: auto;
  }
  .intro-video-frame {
    display: none;
  }
  .intro-cta {
    margin-top: 30px;
  }
  .intro-cta-title {
    font-size: 30px;
  }
  .intro-cta-subtitle {
    font-size: 22px;
    margin-top: 5px;
  }
  .intro-cta-btn {
    margin: 7px 0;
    padding: 10px;
    font-size: 22px;
    line-height: 1;
    border-radius: 45px;
  }
  .intro-cta-tooltip {
    line-height: 20px;
  }
  .modal-form.intro-form-b .modal-labels-wrap, .modal-form.intro-form-b .modal-label.active {
    background: none;
  }
  .modal-form.intro-form-b .modal-label.active {
    border: none;
  }
  .block-advantages,
  .block-director,
  .block-clients,
  .block-team,
  .block-faq {
    background-color: #fff;
    background: url("../img/bg-team.jpg") repeat-y center top;
    background-size: 100% auto;
  }
  .block-advantages {
    margin-top: 0;
    padding: 50px 0;
  }
  .advantages-title {
    font-size: 36px;
    padding-bottom: 70px;
  }
  .advantages-list-bottom, .advantages-list-top,
  .advantages-more-list {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .advantages-list-bottom, .advantages-list-top,
  .advantages-list-bottom-right {
    margin-top: 30px;
  }
  .advantage-single {
    width: 100%;
    padding: 0;
  }
  .advantage-single:not(:last-child) {
    margin-bottom: 30px;
  }
  .advantage-single-desc {
    font-size: 26px;
    letter-spacing: calc(26px * 50 / 1000);
  }
  .advantage-single-desc a {
    position: static;
  }
  .advantages-list-bottom .advantage-single {
    margin-top: 0;
  }
  .advantages-list-bottom-castle {
    display: none;
  }
  .advantages-more {
    width: 100vw;
    margin-left: -15px;
    margin-top: 50px;
    padding: 20px 15px;
    background: url("../img/bg-advantages-more-mobile.jpg") no-repeat center top;
    background-size: cover;
  }
  .advantages-more-title {
    font-size: 32px;
    letter-spacing: calc(32px * 100 / 1000);
  }
  .advantages-more-title span {
    font-size: 28px;
    letter-spacing: calc(28px * 100 / 1000);
  }
  .advantages-more-list {
    padding-top: 0;
  }
  .advantage-more-single {
    width: 100%;
    margin-top: 30px;
  }
  .block-advantages3 {
    margin-top: 0;
    padding: 50px 0;
    background: url("../img/bg-advantages3-mobile.png") no-repeat center top;
    background-size: cover;
  }
  .advantages3-title {
    font-size: 36px;
  }
  .block-sale,
  .block-prices {
    background: url("../img/bg-prices-mobile.jpg") repeat-y center top;
  }
  .block-sale {
    padding: 50px 0 345px;
  }
  .sale-title {
    font-size: 36px;
    padding-bottom: 70px;
  }
  .sale-content {
    width: 100vw;
    margin-left: -15px;
    margin-top: 25px;
    padding: 25px 15px;
    -ms-transform: none;
    transform: none;
    background: #F3EED8;
  }
  .sale-content-title, .sale-content-title span {
    font-size: 32px;
    letter-spacing: calc(32px * 75 / 1000);
  }
  .sale-content-title strong {
    display: block;
    padding: 10px 0;
    font-size: 38px;
    border-radius: 55px;
  }
  form input[type="email"],
  form input[type="tel"],
  form input[type="text"],
  form textarea {
    max-width: 430px;
    width: 100%;
    padding-left: 45px;
    padding-top: 2px;
    font-size: 22px;
    letter-spacing: calc(22px * 50 / 1000);
  }
  form input[type="text"] {
    background: url(../img/icon-input-contact.png) no-repeat left 15px center #fff;
  }
  form input[type="tel"] {
    background: url(../img/icon-input-phone.png) no-repeat left 15px center #fff;
  }
  form button[type="submit"], form input[type="submit"] {
    max-width: 430px;
    width: 100%;
    height: 65px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 65px;
  }
  form button[type="submit"]:before, form button[type="submit"]:after, form input[type="submit"]:before, form input[type="submit"]:after {
    content: none;
  }
  .sale-counter {
    bottom: 50px;
    padding: 0 15px;
  }
  .sale-counter-title {
    font-size: 34px;
    letter-spacing: 0;
  }
  .sale-counter-clock {
    margin: 25px auto;
  }
  .sale-counter-clock img {
    display: block;
    max-width: 100%;
  }
  .sale-counter-decor-1 {
    max-width: 350px;
    width: 90%;
  }
  .block-director {
    margin-top: 0;
    padding: 50px 0;
  }
  .director-title {
    font-size: 36px;
    padding-bottom: 70px;
  }
  .director-content {
    padding: 20px 0 0;
    background: none;
  }
  .director-content-photo {
    position: static;
    margin: 0 auto;
  }
  .director-content-photo img {
    -ms-transform: none;
    transform: none;
  }
  .director-content-about {
    margin-top: 25px;
    padding: 0;
    text-align: center;
  }
  .director-content-about-speech {
    margin-left: 0;
  }
  .director-content-signature {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  .director-content-btn {
    display: block;
    margin-top: 25px;
    padding: 0;
    font-size: 22px;
    border-radius: 35px;
  }
  .block-portfolio {
    padding: 50px 0 100px;
    margin-top: 0;
  }
  .portfolio-title, .portfolio-title span {
    font-size: 36px;
    line-height: 1;
  }
  .portfolio-subtitle {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 28px;
    line-height: 30px;
  }
  .portfolio-slider {
    margin-top: 40px;
  }
  .portfolio-slide-single-photos {
    position: static;
    margin-top: 0;
  }
  .portfolio-slide-single-photos .intro-video-frame {
    display: none;
  }
  .portfolio-slide-single-photos,
  .portfolio-slide-single-photos .intro-video-inner {
    width: 100%;
    height: auto;
  }
  .portfolio-slide-single-photos-slider {
    height: auto;
  }
  .portfolio-slide-single-photos-slider img {
    display: block;
    max-width: 100%;
  }
  .photos-arrow-next, .photos-arrow-prev {
    top: 90px;
  }
  .photos-arrow-prev {
    left: 5px;
  }
  .photos-arrow-next {
    right: 5px;
  }
  .portfolio-slide-single-info {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding: 15px;
    background: #14caf0;
    border: 1px dashed #fff;
    border-radius: 30px;
  }
  .portfolio-slide-single-info-text {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: calc(20px * 50 / 1000);
  }
  .portfolio-arrow-prev.portfolio-arrow-prev,
  .portfolio-arrow-next.portfolio-arrow-next {
    bottom: -70px;
  }
  .portfolio-arrow-prev.portfolio-arrow-prev:before,
  .clients-arrow-prev.clients-arrow-prev:before {
    content: 'Назад';
  }
  .portfolio-arrow-next.portfolio-arrow-next:after,
  .clients-arrow-next.clients-arrow-next:after {
    content: 'Вперед';
  }
  .block-about {
    margin-top: 0;
    background: #fff;
  }
  .about-title {
    max-width: 100%;
    height: auto;
    padding: 10px 0;
    font-size: 36px;
    background: #fff;
  }
  .about-slider {
    height: auto;
    overflow: auto;
  }
  .about-slide-single.slick-center {
    width: 100vw !important;
  }
  .about-slide-single img {
    width: 100%;
    height: auto;
  }
  .block-clients {
    padding: 50px 0 100px;
  }
  .block-clients-b {
    background-image: url("../img/bg-clients-b-mobile.png");
    background-size: cover;
  }
  .clients-title {
    font-size: 36px;
  }
  .clients-title:before, .clients-title:after {
    content: none;
  }
  .clients-title-b span {
    padding: 0;
    color: #ff4000;
    background: none;
  }
  .clients-slider {
    width: 100%;
    height: auto;
    padding: 20px 0 0;
    background: none;
  }
  .block-sale2 {
    margin-top: 0;
    padding: 50px 0;
  }
  .block-sale2,
  .block-advantages2,
  .block-contacts {
    background: url("../img/bg-sale2-mobile.jpg") no-repeat center top;
    background-size: cover;
  }
  .sale2-title {
    padding-bottom: 70px;
    font-size: 36px;
  }
  .sale2-content {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    margin-top: 20px;
  }
  .sale2-content-cta, .sale2-content-text {
    width: 100%;
  }
  .sale2-content-cta-title {
    padding-top: 10px;
    font-size: 20px;
    line-height: normal;
  }
  .sale2-content-text {
    padding-top: 20px;
  }
  .sale2-content-text-offer strong {
    max-width: 570px;
    width: 100%;
    height: auto;
    margin: 10px 0;
    padding: 5px 0;
    background: #fff;
    border-radius: 40px;
  }
  .sale2-content-text-offer strong,
  .sale2-content-text-offer span {
    font-weight: normal;
    font-size: 30px;
    line-height: normal;
  }
  .sale2-content-text-terms {
    margin-top: 0;
  }
  .sale2-content-text-terms li {
    padding-top: 10px;
  }
  .sale2-content-text-terms li:after {
    margin-top: 10px;
  }
  .sale2-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0 0;
  }
  .sale2-btn:before, .sale2-btn:after {
    content: none;
  }
  .block-team {
    margin-top: 0;
    padding: 50px 0 160px;
  }
  .team-title {
    padding-bottom: 70px;
    font-size: 36px;
  }
  .team-arrow {
    bottom: -60px;
  }
  .team-files-title {
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 36px;
    color: #ff6c00;
    background: none;
  }
  .team-files-title:after {
    content: none;
  }
  .team-files-title strong {
    letter-spacing: 0;
  }
  .team-files-row-top, .team-files-row-bottom {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .team-files-row-top {
    width: 100%;
    margin-top: -30px;
  }
  .team-files-row-bottom {
    padding: 0;
  }
  .team-file-single {
    margin-top: 90px;
  }
  .block-advantages2 {
    padding: 0 0 50px;
  }
  .advantages2-title {
    max-width: 791px;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
    font-size: 36px;
    color: #fff;
    background: none;
  }
  .advantages2-list {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 50px;
  }
  .advantages2-single {
    margin-top: 35px;
  }
  .block-faq {
    margin-top: 0;
    padding: 50px 0;
  }
  .faq-title {
    padding-bottom: 70px;
    font-size: 36px;
  }
  .faq-subtitle {
    display: block;
    margin-top: 5px;
    padding-left: 0;
  }
  .faq-subtitle span:last-child {
    padding-left: 4px;
  }
  .faq-list {
    margin-top: 30px;
  }
  .faq-single {
    padding: 10px;
  }
  .faq-single-question {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .faq-single-question-text {
    margin-bottom: 5px;
    font-size: 22px;
  }
  .faq-single-answer {
    padding-left: 0;
    line-height: 24px;
  }
  .faq-btn {
    max-width: 350px;
    width: 100%;
    margin-top: 30px;
    font-size: 22px;
  }
  .faq-btn:before, .faq-btn:after {
    content: none;
  }
  .block-prices {
    margin-top: 0;
    padding: 50px 0;
  }
  .prices-title {
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 36px;
    color: #ff6c00;
    background: none;
  }
  .prices-list {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    margin-top: 30px;
  }
  .price-single {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
  .price-single:not(:last-child) {
    margin: 0 0 30px;
  }
  .price-single-info-list li {
    padding-left: 5px;
  }
  .block-contacts {
    padding: 50px 0;
    margin-top: 0;
  }
  .block-contacts .container {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
  }
  .contacts-left,
  .contacts-map {
    width: 100%;
  }
  .contacts-title {
    height: auto;
    padding: 10px 0;
    font-size: 36px;
    background: #fff;
    border: 1px dashed #14caf0;
    border-radius: 55px;
  }
  .contacts-title:before {
    content: none;
  }
  .contacts-text {
    display: none;
  }
  .contacts-callback {
    margin-top: 25px;
    margin-right: auto;
  }
  .contacts-callback-btn {
    margin-top: 5px;
  }
  .contacts-callback-btn:after {
    content: none;
  }
  .contacts-list {
    margin-right: auto;
  }
  .contacts-map {
    margin-top: 10px;
  }
  .contacts-map-title {
    letter-spacing: 0;
  }
  .contacts-map-container {
    height: 290px;
    width: 290px;
    margin: 0 auto;
  }
  .contacts-map-container-title {
    bottom: -40px;
    padding-top: 20px;
    font-size: 20px;
  }
  .contacts-addresses-content {
    margin-top: 10px;
  }
  .contacts-addresses-content span {
    display: block;
    margin-right: 0;
  }
  .contacts-addresses-content img {
    margin: 2.5px auto;
  }
  .contacts-addresses-social {
    margin-top: 15px;
  }
  .intro-rocket-childs,
  .intro-clouds,
  .intro-blue-clouds,
  .portfolio-rockets,
  .prices-baloons {
    display: none;
  }
  .ymaps-b-zoom_hints-pos_right {
    display: none;
  }
  .modal-form {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .modal-label:nth-of-type(2),
  .modal-form input[type=submit] {
    margin-left: auto;
    margin-right: auto;
  }
  .modal-label {
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 15px;
    padding-left: 0;
  }
  .modal.team-modal, .modal.files-modal {
    width: 100%;
    height: auto;
    padding: 100px 15px 15px;
    background: #fff;
    border: 1px dashed #14caf0;
  }
  .modal-team-text br {
    display: none;
  }
  .modal-team-close {
    top: 15px;
  }
  .files-modal {
    border-color: #ff6c00;
  }
  .modal-files-slider {
    width: 100%;
  }
  .files-arrow-prev {
    left: -10px;
  }
  .files-arrow-next {
    right: -10px;
  }
  .modal-form .wpcf7-not-valid-tip {
    left: 0;
    width: 100%;
    text-align: center;
  }
  .sale-content-form .wpcf7-not-valid-tip {
    left: 45px;
  }
}

@media screen and (max-width: 600px) {
  .block-sale {
    padding-bottom: 50px;
  }
  .sale-counter {
    position: static;
    margin-top: 25px;
  }
  .sale-counter-clock {
    width: 260px;
    margin-top: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
  }
  .sale-counter-clock-part {
    margin-top: 20px;
  }
}

@media screen and (max-width: 450px) {
  .modal {
    padding: 0 15px;
  }
  .modal-close {
    top: 15px;
    right: 70px;
    height: 22px;
    background: none;
  }
  .modal-close:hover {
    background: none;
  }
  .modal-form, .modal-label {
    width: 100%;
  }
  .modal-form {
    margin-top: 25px;
  }
  .modal-label {
    height: auto;
    margin-bottom: 25px;
    border: none;
  }
  .thanks-sale-modal .thanks-modal-close {
    width: 100%;
  }
  .modal-form .wpcf7-response-output {
    font-size: 12px;
  }
  .modal-form .wpcf7-not-valid-tip {
    bottom: -12px;
  }
}

@media screen and (max-height: 480px) {
  .modal-form .wpcf7-response-output {
    display: none !important;
  }
  .modal-close {
    background: 0 0;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 65px;
    right: -5px;
    text-align: left;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before, .mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -ms-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -ms-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -ms-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
